/*
## CEREBRO CRM by Joseph Farthing
   Copyright 2011-13 Joseph Farthing / The University of Edinburgh
   Copyright 2012 Joseph Farthing

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   
*/ 

/* PRINT MODS */

/* Hiding things we don't want to see any more */

.header, .action_bar, .button, .add_note, .note_actions, #note_text, .note_actions * { display: none; }

/* Make sure we definitely display important things */

.summary a {
	display: inline !important;
}

.info_subtab {
	display: block !important;
}


/* Extra formatting to make things easier to read */

.sidebar div {
	border: black solid 1px;
}

/* Totally new elements to help with actions */

.print_only {
	display: block;
}

.print_only p {
	border: black solid 1px;
	padding: 5px;
}

.print_choice {
	border: gray solid 1px;
	padding: 5px;
	margin: 5px;
}


	
