/*
## CEREBRO CRM by Joseph Farthing
   Copyright 2011-13 Joseph Farthing / The University of Edinburgh
   Copyright 2012 Joseph Farthing

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   
*/ 

/* Base */

.borderless {
	border: none !important;
	background-color: transparent;
	margin-right: 0.2em !important;
}

.even{
	background-color: #fff !important;
}

.user, .project, .issue, .location {
	font-weight: bold;
}

.row {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

/* Header */

.header {
	background-color: #c7ebab;
}


/* Main content */

.top_part {
	margin-top: 1em;
}

.action_bar {
	text-align: right;
	float: right !important;
}

.search {
	margin-bottom:1em;
	/* background: #fff url("../images/search_box.png") no-repeat right center;  */
}

.info:before, .warning:before, .question:before, .technical:before, .correct:before, .vip:before , .mip:before, .key:before  {
	float: left;
	margin-right: 13px;
	margin-left: 1em;
}

.info:before {
	content:url("../images/info.png");
}

.warning:before {
	content:url("../images/issue_icon.png");
	margin-right: 10px;
}

.question:before {
	content:url("../images/question_icon.png");
	margin-right: 22px;

}

.technical:before {
	content:url("../images/technical_icon.png");
	margin-right: 14px;
}

.correct:before {
	content:url("../images/correct.png");
	margin-right: 14px;
}


.vip:before {
	content:url("../images/vip_icon.png");
	margin-right: 14px;
}

.mip:before {
	content:url("../images/medium_vip_icon.png");
	margin-right: 14px;
}


.key:before {
	content:url("../images/key_contact.png");
	margin-right: 14px;
}

.add_note {
	width: 97.5% !important;
}

.add_note textarea {
	width: 99% !important;
	font-size: 100% !important;
	min-height: 5em;
	border: 1px #87a9ad solid;

}

.search input , .add_note input{
	width: 85%;
	font-size: 120%;
	border: none;
	padding: 0.5em;
	padding-right: 35px;
}

.search input {
	background: #fff url("../images/search_box.png") no-repeat right center; 
}

.info_section, .notes_section {
	border-bottom: 5px #87a9ad solid;

}

.summary  p{
	margin-bottom: 0.4em !important;
}

.summary  img{
	vertical-align: middle;
	margin-right: 1em;

}

.summary .button {
	margin-left: -0.7em;
	margin-bottom: 0 !important;
	padding: 0.7em!important;
	padding-right: 2.7em !important;
	background:  url("../images/edit_icon_hover_pre.png") no-repeat right center !important; 
	padding-right: 35px !important;
}

.summary .chosen-container {
    width:100% !important;
}

.primary_item .action_bar .button {
	margin-bottom: 12px !important;
}

.summary .button:hover{
	background: #c7ebab url("../images/edit_icon_hover.png") no-repeat right center !important; 

}


.summary .contact_location {
	font-size: 110%;
	font-weight: bold;
}

.summary .contact_status .button {
	margin-bottom: -8px !important;
}

/* Issues and categories */

.category {
	color: #fff !important;
	padding: 4px;
	vertical-align: text-top;
}

.primary_item .category {
	color: #fff !important;
	padding: 4px;
	vertical-align: middle;
	font-size: 80%;
	float: left;
	margin-right: 5px;
}

.primary_item, .note_item {
	margin-top: 0 !important;
	font-size: 95%;

}

.note_item .note_item {
	float: right;
	margin: 10px !important;
	
}


.primary_item div .button {
	padding: 6px;
	margin-bottom: 5px !important;
	margin-top: -4px;
}

.action_bar .button {
	margin-bottom: 5px !important;
}

a.disabled {
	pointer-events: none !important;
    cursor: default !important;
	background-color: #f4f4f4 !important;
	color: gray !important;
}



.primary_item div .borderless {
	padding: 4px;
}

/* List headings */

.list_headings {
	background-color: #fff !important;
	
}

.list_headings div{
	padding: 0px 17px !important;
}	

/* Notes */

.notes_section {
	margin-top: 3em;
}

.note_actions {
	width: 97.5% !important;
}

#sortable .note_actions div, #sortable .note_actions {
	margin: 0 !important;
}
.note_actions img {
	vertical-align: middle;
	margin-right: 0.4em;
	margin-left: 0.2em;
}

.note_actions .button {
	float: right;
	margin-right: -0.5em;
}

.note_item, .primary_item {
	background-color: #f4f4f4;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	clear: both;
}

.user, .date {
	margin-bottom: 0;
}

.note_info p {
	margin-bottom: 0.2em;
}

div.note_info, div.mini_note_actions, div.note_text p, .primary_item div{
	padding: 10px;
	padding-bottom: 0;
}

.list_headings * {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 95%;
	
}


.list_headings * img {
	vertical-align: baseline;
}

div.note_text p {
	text-justify: auto;
}

div.note_text textarea {
	min-height: 150px;
	width: 100%;
}

.mention-container {
   width: 100%;
  height: 100%; 
  position: relative;  
  }
.mention-highlight {
  line-height: 1.5;
  font-size: 14px !important;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px;
  padding: 2px;
  z-index: 1;
  color: transparent;
  white-space: pre-wrap;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;  }

  .userHighlight {
    border-radius: 1px;
    background: #E9F6DF;
   }
   .contactHighlight {
    border-radius: 1px;
    background: #D8F7FF;
   }
   .itemHighlight {
    border-radius: 1px;
    background: #f4f4f4;
   }
textarea[ui-mention] {
  width: 100%;
  display: block;
  border: 1px solid;
  z-index: 2;
  position: relative;
  line-height: 1.5;
  }
  textarea[ui-mention][ui-mention] {
    background: transparent; }
.add_note .mention-container {
    margin: 10px 0 3px -10px !important;
}

/* Sidebar */

.sidebar {
	background-color: #87a9ad;
	min-height:100%;
}

.sidebar div {
	margin: 1em;
	padding: 1em;
	background-color: #fff;
}

.sidebar div p, .sidebar div p span, .sidebar div p strong,  .sidebar div table span,  .sidebar div table strong {
	vertical-align: top;
}

.sidebar .info:before, .sidebar .warning:before, .sidebar .question:before, .sidebar .technical:before, .sidebar .correct:before, .sidebar .mip:before, .sidebar .vip:before {
    margin-right: 14px;
    margin-left: 2px;

}

.sidebar .key:before {
    margin-right: 16px;
    margin-left: 5px;
}
.login_details {
	background-color: #87a9ad !important;
	border: 2px #fff solid;
}

.login_details * {
	color: #fff !important;
}

.sidebar .action_bar {
	background-color: #87a9ad !important;
	padding: 11px;
}

.sidebar .action_bar .button {
	width: 100%;
	margin: 0;
	margin-left: -12px;
	text-align: left;

}

.sidebar .login_details .button, .sidebar .prev_next .button {
	width: 89%;
	color: #fff !important;
	background: none;
	border: 2px #fff solid !important;
	font-weight: normal;
	margin-bottom: 5px;

}

.sidebar .prev_next .button {
	background: #fff;
	color: #2a786b !important;
	font-weight: bold;
	border: 2px #87a9ad solid !important;
}

.sidebar .prev_next .button.disabled {
	font-weight: normal;
	color: #87a9ad !important;
}


.prev_next {
	margin: 0 !important; 
	padding: 0 !important;
}	

/* tabs */


.tabs a {
	float: right;
	min-height: 1.5em;
	background-color: #daf4c3;
	padding: 0.5em;
	margin: 0.1em;
	text-align: center;
	text-decoration: none;
}

/* global nav tabs */
.global_nav .tabs a {
	float: left;
	padding-top: 0.7em;
	margin-top: 1.2em;
	margin-bottom: 0;
	background-color: #daf4c3;
	margin-right: 0.3em;
}

.global_nav .tabs a.selected{
	background-color: #fff;
}

.global_nav .tabs a img{
	margin-bottom: 1px;
}
.global_nav .tabs .home_tab, .global_nav .tabs .search_tab {
	padding-bottom: 4px;
}



/* mobile tabs */

@media only screen and (max-width: 767px) {

.global_nav .tabs a {
	width: 95%;
}

.global_nav {
	padding-bottom: 12px;
}

.mid_nav .tabs a {
	width: 95%;
}

.mid_nav {
	padding-bottom: 12px;
}

.mid_nav .tabs .big_number {
	float: none !important;
	display:inline !important;
}

}

/* sub nav tabs */

.sub_nav .tabs {
	margin-top: auto;
}

.notes_section .sub_nav .tabs {
	margin-top: 0.5em !important;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.sub_nav .tabs {
		font-size: 90% !important;
	}

}

/* mid nav tabs */

.mid_nav .tabs a {
	float: left;
}

@media only screen and (max-width: 767px) {

.sub_nav .tabs {
		margin-top: 1em !important;
		float: left !important;
		margin-left: 0.3em;
		margin-right: 0.3em;
	}
}

	


.sub_nav .tabs .selected {
	background-color: #87a9ad;
	font-weight: bold;
	color: #fff;
}

.sub_nav .tabs .big_number, .mid_nav .tabs .big_number {
	display: block;
	width: 100%;
	
}

.big_number {
	font-size: 160%;
	font-weight: bold;
}

.sub_nav {
	float: right !important;
	margin-bottom: -0.1em !important;
}


/* form display */

.form_display .primary_item div {
	padding: 0 0 10px 0;
}

.form_display .primary_item div input, .main_search .primary_item div input, .form_area input{
	width: 100%;
	height: 30px;
	text-indent: 5px;
}

.form_display .primary_item div select,.main_search .primary_item div select  {
	height: 35px;
	width: 101%;
}

.form_display .primary_item div input.has_image, .main_search .primary_item div input.has_image, .form_area input.has_image {
	text-indent: 35px;
}

.validation {
	padding-top: 10px !important;
	margin-top: -5px !important;
	background-color: #f4f4f4;
	height: 24px;
}

.ok {
	background-color: #c7ebab;
}

.meh {
	background-color: #87a9ad;
	color: #fff;
	
}

.bad {
	background-color: #c83737;
	color: #fff;
}
@media only screen and (min-width: 768px) {
	.validation {
	   padding-top: 10px;
	   margin-top: -5px;
	}
	
    .normal:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #f4f4f4;
	   border-bottom: 22px solid transparent;
	   margin: -10px 0 0 -25px;
	}
	
	.ok:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #c7ebab;
	   border-bottom: 22px solid transparent;
	   margin: -10px 0 0 -25px;
	}
	
	.meh:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #87a9ad;
	   border-bottom: 22px solid transparent;
	   margin: -10px 0 0 -25px;
	}
	
	.bad:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #c83737;
	   border-bottom: 22px solid transparent;
	   margin: -10px 0 0 -25px;
	}
	

	
}
	
@media only screen and (max-width: 768px) {
	.validation {
	   padding: 10px;
	   height: 1.2em;
	}
	
	.form_area {
		width: 107%;
	}
	
	.checkbox, .radio {
		margin-bottom: 10px !important;
	}
	
	.form_area .primary_item{
		margin-left: -10px !important;
	}
	
	.form_area .primary_item {
		padding-top: 0 !important;
	}
	
}
.form_display .primary_item div label, .main_search .primary_item div label , .form_area label {
	position: absolute;
	padding-top: 7px;
	padding-left: 6px;
	vertical-align: middle;
}
.form_display .primary_item div label img , .form_area label img{
	vertical-align: bottom;
}

.form_display .primary_item div h4 img{
	vertical-align: middle;
	margin-right: 5px;
}

.form_label_text {
	color: #333333;
}

label.required {
	font-weight: bold;
}

.form_display .primary_item  .action_bar {
	float: left !important;
}

.checkbox, .radio {
	border: solid 1px #9f9f9f;
	height: 28px;
}

.form_display .primary_item div input[type="checkbox"], .form_display .primary_item div input[type="radio"] {
	float: right;
	width: 20px;
}

.form_area {
	margin-bottom: 2em;
}

.form_area .row {
	background-color: #ffffff !important;
	padding: 10px;
}


.form_area.even  .row {
	background-color: #f4f4f4 !important;
}

.form_area.even .row .checkbox, .form_area.even .row .radio {
	margin-bottom: 10px;
}

/* pop-ups */


.white-popup {
  position: relative;
  background: #f4f4f4;
  padding: 25px;
  width: auto;
  max-width: 600px;
  margin: auto;
  min-height: 400px;
}

.white-popup .action_bar {
	width: 100% !important;
}

#password-reminder.white-popup {
    min-height: 50px !important;
}

.white-popup .action_bar .search input{
	float: left;
	background: #fff url("../images/search_box.png") no-repeat right center; 
	max-width: 300px;
}

.white-popup .action_bar .search {
	margin-top: 15px;
}

.white-popup .primary_item  div{
	max-width: 45% !important;
	float: left;
}
@media only screen and (min-width: 768px) {

	.white-popup .primary_item div:nth-child(1) {
		width: 10%;
	}

	.white-popup .primary_item div:nth-child(2) {
		width: 30%;
	}
	
}
	


@media only screen and (max-width: 767px) {

	.white-popup .primary_item div:nth-child(1) {
		width: 15%;
	}

	.white-popup .primary_item div:nth-child(3) {
		display: none;
	}

}

/* main search pages */

.main_search {
	background-color: #f4f4f4;
	padding: 10px 10px 0px 10px;
}

.search_results .sub_nav .tabs {
	margin-top: 10px !important;
}

.main_search .primary_item div select, .main_search .primary_item div input  {
		margin-bottom: 10px !important;
}
	
.main_search .primary_item  div{
	padding: 0;
}

.search_and {
	width: 60px !important;
}

.main_search h4 {
	margin-top: 16px;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {

	.main_search .search {
		display:none;
	}

}

.container .one-point-five.column,
    .container .one-point-five.columns                     { width: 70px;  }

@media only screen and (min-width: 768px) and (max-width: 959px) {
.container .one-point-five.column,
    .container .one-point-five.columns                     { width: 42px;  }

}

@media only screen and (max-width: 768px) {

	.main_search .primary_item div select, .main_search .primary_item div input  {
		width: 93% !important;
	}
	
	.main_search .info_section .sub_nav .tabs {
		margin-left: 18px !important;
	}
.container .one-point-five.column,
    .container .one-point-five.columns                     { width: 94%; }
	

}

p.description {
	word-wrap: break-word;
}

/* charts stuff */

.pie_chart, .pie_chart div {
	background: none !important;
	background-image:none !important;
	background-color:none !important;
	margin-left: 0 !important;
	margin-top: 3px !important;
	margin-bottom: 0 !important;
	padding: 0 !important;

}

.pie_chart < div {
    margin-left: 0 !important;
	margin-top: 3px !important;
	margin-bottom: 0 !important;
	padding: 0 !important;

}

/* home page */

#sortable {
	margin-top: 70px;
}

#sortable > li {
	min-height: 250px !important;
	border: 2px #87a9ad solid;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: #fff;
}

#sortable > li {
	clear: right;
}
#sortable > li div {
	margin: 12px;
}

#sortable > li div h3 {
	margin-bottom: 10px;
	padding:0;
}

#sortable > li div p {
	margin-top: 10px;
}

#sortable > li div .info:before, #sortable li div .warning:before , #sortable li div .technical:before , #sortable li div .question:before  {
	margin-left: 0 !important;
}

.home_page .action_bar {
	margin-right: 26px;
	margin-top: 12px;
}

.welcome {
	background-image: url("../images/clouds_bg.png") !important;
	background-repeat:repeat-x;
}

.help {
	background-image: url("../images/help_bg.png") !important;
	background-repeat:repeat-x;
}

.note_text ul , .summary ul{
	margin-left: 30px;
	list-style: square outside;

}

/* pagination */

.pagination:not(.list_headings) a {
	color: #87a9ad;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #2a786b;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 8px 10px;
	border: none !important;
	background-color: transparent;
	margin-right: 0.2em !important;
}

.pagination:not(.list_headings) input {
	padding: 8px 10px;
	border: 2px solid #87a9ad !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;


}

.pagination:not(.list_headings) a:hover {
	background: #c7ebab; 	
	border: 2px solid #c7ebab;
}

.pagination:not(.list_headings) {
	text-align:center;
	margin-top: 1em;
}

/* headings */

h2 > img {
	top: 2px;
	position: relative;
}

.content > h2, .content > div > h2, .content > h3 {
	margin-top: 14px;
}

/* messaging system */

.message {

	border: 2px #87a9ad solid;
	margin-bottom: 10px;
	margin-top: 5px;
	background-color: #fff;
	margin-top: 20px;
	padding: 15px 12px 5px 12px;

}

/* tables */

td {
	padding-right:7px;
}

tr:nth-child(2) {
	padding-right: 0;
}

/* print stuff - hide by default */

.print_only {
	display: none;
}

/* unfolding UI addition Jan 2014 */

.unfolding {
	padding-top: 6px;
	margin-bottom: 7px !important;
}
.unfolding .row {
	display: none;
}

.visible {
	display: block !important;
}

.unfolding .list_headings {
	margin-top: 50px !important;
}

/* help pages */
#dw__toc {
    float: right;
    margin: 1px 10px;
    border-left: 2px solid #87a9ad;
    padding: 0 20px;
}

/* autocomplete search box */

.ui-autocomplete-category {
    font-weight: bold;
    margin: 6px;
}

.email_template {
    display:none;
}

.list_heading_float {
    width: 50%;
    float: left;
    margin-bottom: -100%;
}

.magnific_content .list_headings * {
    display: inline;
}

/* links and tagging */

#link_menu, .ui-autocomplete {
	box-shadow: 5px 5px 5px #6E8E92;
}

#link_menu {
	border: 1px solid #87a9ad;
	background: #fff;
	color: #000;
	width: 75%;
	margin-left: -10px;
}

#link_menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#link_menu li {
	padding: 5px;
	border: 1px solid #fff;
	margin: 0;
}

#link_menu li:hover {
	background: #daf4c3;
	border: 1px solid #000;
	cursor: pointer;
}

#link_menu .instructions {
	margin: 3px;
	max-height: 1.4em;
	overflow: hidden;
}

#link_menu .users, .contacts, .tags {
	margin-right: 2px;
	padding: 5px;
}

#link_menu .users {
	background: #E9F6DF;
}

#link_menu .contacts {
	background: #D8F7FF;
}

#link_menu .tags {
	background: #f4f4f4;
}
@media only screen and (max-width: 767px) {

	#link_menu {
		margin-left: 0;
	}

}

.hidden {
	display: none;
}

#overview-filter {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 36px!important;
    height: auto!important;
    border: 2px solid #87a9ad;
    border-radius: 3px;
    background-color: #fff;
    cursor: text;
    padding: 5px;
    font-size: 90%;
}

.mainitem #note_container textarea {
	width: 98% !important;
}
.tabs span {
	padding: 4px 0 6px 0;
}

.fa {
	vertical-align: middle !important;
}

.action_bar .fa {
	font-size: 20px;
}

.form_area textarea {
	width: 100%;
	min-height: 10em;
}

.html_editor div {
    padding-bottom: 0 !important;
}

input:disabled {
	pointer-events: none !important;
    cursor: default !important;
	background-color: #f4f4f4 !important;
	color: gray !important;
}