/*
## CEREBRO CRM by Joseph Farthing
   Copyright 2011-13 Joseph Farthing / The University of Edinburgh
   Copyright 2012 Joseph Farthing

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
   
*/ 

/* Base */

.borderless {
	border: none !important;
	background-color: transparent;
	margin-right: 0.2em !important;
}

.even{
	background-color: #fff !important;
}

.user, .project, .issue, .location {
	font-weight: bold;
}

.row {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

/* Header */

.header {
	background-color: #000;
	background-size: cover;
	padding-top:10px;
	background-repeat:no-repeat;
	background-position: center center;
	height:400px;
}

@media only screen and (min-width: 768px) {
.header {
	background-image: url("../images/bg.jpg");
}

}
@media only screen and (max-width: 767px) {
.header {
	background-image: url("../images/bg-small.jpg");
	background-size: cover;

}

.header #bigimage {
	content: url("../images/header_small.png");
}

.header #logoimage {
	content: url("../images/uoe_logo_small.png");
}


}


#bigheader p {
	margin-top: 1em;
	color: #fff !important;
	font-size: 160%;
}

.content > div, .content > h3 {
	margin-top: 15px !important;
}


/* Main content */

.top_part {
	margin-top: 1em;
}

.action_bar {
	text-align: right;
	float: right !important;
}

.search {
	margin-bottom:1em;
	/* background: #fff url("../images/search_box.png") no-repeat right center;  */
}

.info:before, .warning:before, .question:before, .technical:before {
	float: left;
	margin-right: 13px;
	margin-left: 1em;
}

.info:before {
	content:url("../images/info.png");
}

.warning:before {
	content:url("../images/issue_icon.png");
	margin-right: 10px;
}

.question:before {
	content:url("../images/question_icon.png");
	margin-right: 22px;

}

.technical:before {
	content:url("../images/technical_icon.png");
	margin-right: 14px;
}


.add_note {
	width: 97.5% !important;
}

.add_note textarea {
	width: 100% !important;
	font-size: 100% !important;
	min-height: 5em;
	border: 1px #87a9ad solid;

}

.search input , .add_note input{
	width: 85%;
	font-size: 120%;
	border: none;
	padding: 0.5em;
	padding-right: 35px;
}

.search input {
	background: #fff url("../images/search_box.png") no-repeat right center; 
}

.info_section, .notes_section {
	border-bottom: 5px #87a9ad solid;

}

.summary  p{
	margin-bottom: 0.4em !important;
}

.summary  img{
	vertical-align: middle;
	margin-right: 1em;

}

.summary .button {
	margin-left: -0.7em;
	margin-bottom: 0 !important;
	padding: 0.7em !important;
	background:  url("../images/edit_icon_hover_pre.png") no-repeat right center !important; 
	padding-right: 35px !important;
}

.primary_item .action_bar .button {
	margin-bottom: 12px !important;
}

.summary .button:hover{
	background: #c7ebab url("../images/edit_icon_hover.png") no-repeat right center !important; 

}


.summary .contact_location {
	font-size: 110%;
	font-weight: bold;
}

.summary .contact_status .button {
	margin-bottom: -8px !important;
}

/* Issues and categories */

.category {
	color: #fff !important;
	padding: 4px;
	vertical-align: text-top;
}

.primary_item .category {
	color: #fff !important;
	padding: 4px;
	vertical-align: middle;
	font-size: 80%;
	float: left;
	margin-right: 5px;
}

.primary_item, .note_item {
	margin-top: 0 !important;
	font-size: 95%;

}

.note_item .note_item {
	float: right;
	margin: 10px !important;
	
}


.primary_item div .button {
	padding: 6px;
	margin-bottom: 5px !important;
	margin-top: -4px;
}

.action_bar .button {
	margin-bottom: 5px !important;
}



.primary_item div .borderless {
	padding: 4px;
}

/* List headings */

.list_headings {
	background-color: #fff !important;
	
}

.list_headings div{
	padding: 0px 17px !important;
}	

/* Notes */

.notes_section {
	margin-top: 3em;
}

.note_actions {
	width: 97.5% !important;
}
.note_actions img {
	vertical-align: middle;
	margin-right: 0.4em;
	margin-left: 0.2em;
}

.note_actions .button {
	float: right;
	margin-right: -0.5em;
}

.note_item, .primary_item {
	background-color: #f4f4f4;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.user, .date {
	margin-bottom: 0;
}

.note_info p {
	margin-bottom: 0.2em;
}

div.note_info, div.mini_note_actions, div.note_text p, .primary_item div{
	padding: 10px;
	padding-bottom: 0;
}

.list_headings * {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 95%;
	
}


.list_headings * img {
	vertical-align: baseline;
}

div.note_text p {
	text-justify: auto;
}

div.note_text textarea {
	min-height: 150px;
	width: 100%;
}


/* Sidebar */

.sidebar {
	background-color: #87a9ad;
	min-height:100%;
}

.sidebar div {
	margin: 1em;
	padding: 1em;
	background-color: #fff;
}

.login_details {
	background-color: #87a9ad !important;
	border: 2px #fff solid;
}

.login_details * {
	color: #fff !important;
}

.sidebar .action_bar {
	background-color: #87a9ad !important;
	padding: 11px;
}

.sidebar .action_bar .button {
	width: 100%;
	margin: 0;
	margin-left: -12px;
	text-align: left;

}

/* tabs */


.tabs a {
	float: right;
	min-height: 1.5em;
	background-color: #daf4c3;
	padding: 0.5em;
	margin: 0.1em;
	text-align: center;
	text-decoration: none;
}

/* global nav tabs */
.global_nav .tabs a {
	float: left;
	padding-top: 0.7em;
	margin-top: 1.2em;
	margin-bottom: 0;
	background-color: #daf4c3;
	margin-right: 0.3em;
}

.global_nav .tabs a.selected{
	background-color: #fff;
}

.global_nav .tabs a img{
	margin-bottom: 1px;
}
.global_nav .tabs .home_tab, .global_nav .tabs .search_tab {
	padding-bottom: 4px;
}

/* mobile tabs */

@media only screen and (max-width: 767px) {

.global_nav .tabs a {
	width: 95%;
}

.global_nav {
	padding-bottom: 12px;
}

}

/* sub nav tabs */

.sub_nav .tabs {
	margin-top: 40%;
}

.notes_section .sub_nav .tabs {
	margin-top: 0.5em !important;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.sub_nav .tabs {
		margin-top: 50% !important;
		font-size: 90% !important;
	}

}

@media only screen and (max-width: 767px) {

.sub_nav .tabs {
		margin-top: 1em !important;
		float: left !important;
		margin-left: 0.3em;
		margin-right: 0.3em;
	}
}

	


.sub_nav .tabs .selected {
	background-color: #87a9ad;
	font-weight: bold;
	color: #fff;
}

.sub_nav .tabs .big_number {
	display: block;
	font-size: 160%;
	width: 100%;
	font-weight: bold;
}

.sub_nav {
	float: right !important;
	margin-bottom: -0.1em !important;
}


/* form display */

.form_display .primary_item div {
	padding: 0 0 10px 0;
}

.form_display .primary_item div input, .main_search .primary_item div input, .form_area input{
	width: 100%;
	height: 30px;
	text-indent: 5px;
}

.form_display .primary_item div select,.main_search .primary_item div select  {
	height: 35px;
	width: 101%;
}

.form_display .primary_item div input.has_image, .main_search .primary_item div input.has_image, .form_area input.has_image {
	text-indent: 35px;
}

.validation {
   padding-top: 10px;
   margin-top: -5px;
   background-color: #f4f4f4;
   height: 34px;
   line-height: 40px;
  
   
}

.ok {
	background-color: #c7ebab;
}

.meh {
	background-color: #87a9ad;
	color: #fff;
	
}

.bad {
	background-color: #c83737;
	color: #fff;
}
@media only screen and (min-width: 768px) {
	.validation {
	   padding-top: 10px;
	   margin-top: -5px;
	   margin-left: 25px !important;
	   float: right !important;
	}
	
    .normal:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #f4f4f4;
	   border-bottom: 22px solid transparent;
	   margin: 0 0 0 -25px;
	}
	
	.ok:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #c7ebab;
	   border-bottom: 22px solid transparent;
	   margin: 0 0 0 -25px;
	}
	
	.meh:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #87a9ad;
	   border-bottom: 22px solid transparent;
	   margin: 0 0 0 -25px;
	}
	
	.bad:before {
	   content:"";
	   position: absolute;
	   width: 0;
	   height: 0;
	   border-top: 22px solid transparent;
	   border-right: 25px solid #c83737;
	   border-bottom: 22px solid transparent;
	   margin: 0 0 0 -25px;
	}
	


.meh p {
	font-weight: bold;
}
	
}
	
@media only screen and (max-width: 768px) {
	.validation {
	   padding: 10px;
	   height: 1.2em;
	}
	
	.form_area {
		width: 107%;
	}
	
	.checkbox, .radio {
		margin-bottom: 10px !important;
	}
	
	.form_area .primary_item{
		margin-left: -10px !important;
	}
	
	.form_area .primary_item {
		padding-top: 0 !important;
	}
	
}
.form_display .primary_item div label, .main_search .primary_item div label , .form_area label {
	position: absolute;
	padding-top: 7px;
	padding-left: 6px;
	vertical-align: middle;
}
.form_display .primary_item div label img , .form_area label img{
	vertical-align: bottom;
}

.form_display .primary_item div h4 img{
	vertical-align: middle;
	margin-right: 5px;
}

.form_label_text {
	color: #333333;
}

label.required , label.required *{
	font-weight: bold !important;
}

.required div .chosen-single {
	font-weight: bold;
}

.form_display .primary_item  .action_bar {
	float: left !important;
}



.checkbox, .radio {
	height: 28px;
	margin-left: 10px !important;
}

.form_display .primary_item div input[type="checkbox"], .form_display .primary_item div input[type="radio"] {
	float: right;
	width: 20px;
}

.form_area {
	/*margin-bottom: 2em;*/
}

.form_area .row {
	background-color: #ffffff !important;
	padding: 10px;
}


.form_area.even  .row {
	background-color: #f4f4f4 !important;
}

.form_area.even .row .checkbox, .form_area.even .row .radio {
	margin-bottom: 10px;
}

/* pop-ups */


.white-popup {
  position: relative;
  background: #f4f4f4;
  padding: 25px;
  width: auto;
  max-width: 600px;
  margin: auto;
  min-height: 400px;
}

.white-popup .action_bar {
	width: 100% !important;
}

#password-reminder.white-popup {
    min-height: 50px !important;
}

.white-popup .action_bar .search input{
	float: left;
	background: #fff url("../images/search_box.png") no-repeat right center; 
	max-width: 300px;
}

.white-popup .action_bar .search {
	margin-top: 15px;
}

.white-popup .primary_item  div{
	max-width: 45% !important;
	float: left;
}
@media only screen and (min-width: 768px) {

	.white-popup .primary_item div:nth-child(1) {
		width: 10%;
	}

	.white-popup .primary_item div:nth-child(2) {
		width: 30%;
	}
	
}
	


@media only screen and (max-width: 767px) {

	.white-popup .primary_item div:nth-child(1) {
		width: 15%;
	}

	.white-popup .primary_item div:nth-child(3) {
		display: none;
	}

}

/* main search pages */

.main_search {
	background-color: #f4f4f4;
	padding: 10px 10px 0px 10px;
}

.search_results .sub_nav .tabs {
	margin-top: 10px !important;
}

.main_search .primary_item div select, .main_search .primary_item div input  {
		margin-bottom: 10px !important;
}
	
.main_search .primary_item  div{
	padding: 0;
}

.search_and {
	width: 60px !important;
}

.main_search h4 {
	margin-top: 16px;
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {

	.main_search .search {
		display:none;
	}

}

.container .one-point-five.column,
    .container .one-point-five.columns                     { width: 70px;  }

@media only screen and (min-width: 768px) and (max-width: 959px) {
.container .one-point-five.column,
    .container .one-point-five.columns                     { width: 42px;  }

}

@media only screen and (max-width: 768px) {

	.main_search .primary_item div select, .main_search .primary_item div input  {
		width: 93% !important;
	}
	
	.main_search .info_section .sub_nav .tabs {
		margin-left: 18px !important;
	}
.container .one-point-five.column,
    .container .one-point-five.columns                     { width: 94%; }
	

}

p.description {
	word-wrap: break-word;
}

/* charts stuff */

.pie_chart, .pie_chart div {
	background: none !important;
	background-image:none !important;
	background-color:none !important;
	margin-left: 0 !important;
	margin-top: 3px !important;
	margin-bottom: 0 !important;
	padding: 0 !important;

}

.pie_chart < div {
    margin-left: 0 !important;
	margin-top: 3px !important;
	margin-bottom: 0 !important;
	padding: 0 !important;

}

/* home page */

#sortable {
	margin-top: 70px;
}

#sortable > li {
	min-height: 250px !important;
	border: 2px #87a9ad solid;
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: #fff;
}

#sortable > li {
	clear: right;
}
#sortable > li div {
	margin: 12px;
}

#sortable > li div h3 {
	margin-bottom: 10px;
	padding:0;
}

#sortable > li div p {
	margin-top: 10px;
}

#sortable > li div .info:before, #sortable li div .warning:before , #sortable li div .technical:before , #sortable li div .question:before  {
	margin-left: 0 !important;
}

.home_page .action_bar {
	margin-right: 26px;
	margin-top: 12px;
}

.welcome {
	background-image: url("../images/clouds_bg.png") !important;
	background-repeat:repeat-x;
}

.help {
	background-image: url("../images/help_bg.png") !important;
	background-repeat:repeat-x;
}

.note_text ul , .summary ul{
	margin-left: 30px;
	list-style: square outside;

}

/* pagination */

.pagination:not(.list_headings) a {
	color: #87a9ad;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #2a786b;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 8px 10px;
	border: none !important;
	background-color: transparent;
	margin-right: 0.2em !important;
}

.pagination:not(.list_headings) input {
	padding: 8px 10px;
	border: 2px solid #87a9ad !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;


}

.pagination:not(.list_headings) a:hover {
	background: #c7ebab; 	
	border: 2px solid #c7ebab;
}

.pagination:not(.list_headings) {
	text-align:center;
	margin-top: 1em;
}

/* headings */

h2 > img {
	top: 2px;
	position: relative;
}

.content > h2, .content > div > h2, .content > h3 {
	margin-top: 14px;
}

/* messaging system */

.message {

	border: 2px #87a9ad solid;
	margin-bottom: 10px;
	margin-top: 5px;
	background-color: #fff;
	margin-top: 20px;
	padding: 15px 12px 5px 12px;

}

/* tables */

td {
	padding-right:7px;
}

tr:nth-child(2) {
	padding-right: 0;
}

/* print stuff - hide by default */

.print_only {
	display: none;
}

/* unfolding UI addition Jan 2014 */

.unfolding {
	padding-top: 6px;
	margin-bottom: 7px !important;
}
.unfolding .row {
	display: none;
}

.visible {
	display: block !important;
}

.unfolding .list_headings {
	margin-top: 50px !important;
}

/* help pages */
#dw__toc {
    float: right;
    margin: 1px 10px;
    border-left: 2px solid #87a9ad;
    padding: 0 20px;
}

/* autocomplete search box */

.ui-autocomplete-category {
    font-weight: bold;
    margin: 6px;
}

.email_template {
    display:none;
}

.list_heading_float {
    width: 50%;
    float: left;
    margin-bottom: -100%;
}

.magnific_content .list_headings * {
    display: inline;
}

/* waste tracker */

.result {
	padding: 12px;
	margin-bottom: 2px;
	cursor: pointer;
}

.result img {
	padding-left: 5px;
	vertical-align: middle;
}

.result a {
	text-decoration: none;
}

.result.mixed {
	background: #000 url("../images/icon_mixed.png") no-repeat 98%; 
	color: #fff !important;
	font-weight: bold;
}

.result.paper {
	background: #008dd0 url("../images/icon_paper.png") no-repeat 98%; 
	color: #fff !important;
	font-weight: bold;
}

.result.food {
	background: #00b25c url("../images/icon_food.png") no-repeat 98%; 
	color: #fff !important;
	font-weight: bold;
}

.result.landfill {
	background: #414141 url("../images/icon_landfill.png") no-repeat 98%; 
	color: #fff !important;
	font-weight: bold;
}

.result.mixed  a, .result.landfill  a, .result.paper  a, .result.food  a {
	color: #fff !important;
	font-weight: bold;
}

.result {
	background-color: #e5e5e5;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* See more at: http://avexdesigns.com/responsive-youtube-embed/#sthash.18laSRsX.dpuf */


input[type="text"], input[type="password"], input[type="email"], textarea, select {
	border: 1px solid #ccc;
	padding: 2px 4px;
	outline: none;
}

.dvk-social-sharing > a{ 
	margin-right:5px;
	display: inline-block;
	text-decoration: none;
}

.dvk-social-sharing > span:first-child {
	font-weight: bold;
}

span[class^="ss-icon-"] {
	width:32px;
	height:32px;
	display: inline-block;
	background-image: url("../images/sprite-32.png");
	background-repeat: no-repeat;
	margin-right:6px; 
	vertical-align: middle;
}

.ss-icon-twitter {
	background-position:0px 0px;
}

a:hover > .ss-icon-twitter {
	background-position:0px -32px;
}

.ss-icon-facebook {
	background-position:-32px 0px;
}

a:hover > .ss-icon-facebook {
	background-position:-32px -32px;
}

.ss-icon-googleplus {
	background-position:-64px 0px;
}

a:hover > .ss-icon-googleplus {
	background-position:-64px -32px;
}